/.git-corrupt
/proposal.org~
/papers
/proposal.pdf
/proposal.tex
/proposal.tex~
/papers/jmldbc-1.pdf
/papers/meyer-tdd.pdf
/papers/notes.org~
/proposal.bbl
/proposal.bib
/proposal.bib~
/proposal.blg
/proposal.dvi
/background.bbl
/background.blg
/background.org~
/background.pdf
/background.tex
/background.tex~
/dbc.bib~
/refs.bib~
/.gitignore~
/impl.org~
/other-impls/trammel/
/code.tar.gz
/background.txt
/background.org_archive
/.DS_Store
/impl.pdf
/impl.tex
/impl.tex~
/dissertation.org~
/dissertation.pdf
/dissertation.tex
/dissertation.tex~
/literate
/background.pyg
/dbc/src/dbc/#core.clj#
/dbc/src/dbc/core.clj.old
/dbc/src/dbc/core.clj.old~
/dbc/src/dbc/junk.clj
/dbc/src/dbc/junk.clj~
/impl.bbl
/impl.blg
/impl.clj
/impl.clj~
/impl.lol
/#impl.clj#
/full.bbl
/full.blg
/full.lol
/full.org~
/full.pdf
/full.tex
/full.tex~
/impl.txt
/target/stale/dependencies
/auto/dbc.el
/auto/impl.el
/dbc/.lein-deps-sum
/dbc/.lein-plugins/checksum
/dbc/target/stale/dependencies
/full.txt
