
/proposal.org~
/papers
/proposal.pdf
/proposal.tex
/proposal.tex~
/papers/jmldbc-1.pdf
/papers/meyer-tdd.pdf
/papers/notes.org~
/proposal.bbl
/proposal.bib
/proposal.bib~
/proposal.blg
/proposal.dvi
/background.bbl
/background.blg
/background.org~
/background.pdf
/background.tex
/background.tex~
/dbc.bib
/refs.bib~
/.gitignore~
